* {
  padding:0;
  margin:0;
  font-family: 'Myriad Pro', sans-serif;
}
body {
}

/*----------------MENU RESPONSIVE-------------------*/

    .menu_responsive{
        z-index: 9998;
        position: fixed;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        background:#767676;
        transition: all .2s;
}
    
    .menu_responsive .logo{
    margin-left: 20px;
    height: 55px;
    
}
#nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav ul li {
    list-style: none;

}
#nav img {
        padding: 20px;
}

#nav ul a {
    text-decoration: none;
    color: white;
    padding: 20px;
        width: 50%;
    transition: .3s;
    border-bottom: 2px solid white;
}

#nav ul a:hover {
    background: white;
    color: #767676;
}

#nav ul a:nth-child(2){
    border-top: 2px solid white;
}



  
@keyframes hoversocial {
     0%   {
        transform: rotate(0deg);
    }
    25%  {
        transform: rotate(10deg);
    }
    
    50%  {
        transform: rotate(-10deg);
    }
    
    100% {
        transform: rotate(0deg);
    }

}


#nav ul .socialmenu{
    border:none !important;
    padding: 0px 0px;
    margin: 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#nav ul .socialmenu:hover {
    border: none !important;
    background: none;
    animation-name: hoversocial;
    animation-duration: 0.5s;
    animation-timing-function:ease-in-out;
}

.socialmenu img {
    width: 40px;
    padding: 0px !important;
      
}

.sociali {
    display: flex;
    padding: 0px 0px;
    margin: 0px 0px;
}


    
    #nav{
        justify-content: center;
        display: none;
        height: 100%;
        width: 318px;
        background: #767676;
        position: fixed;
        right: 0;
        z-index: 99988;
        transform: translateX(100%);
        transition: .5s all;
    }

    
    #btn{
     display: none;
    }
    
    .boton{
        cursor: pointer;
        width: 50px;
        height: 47px;
        top: 11px;
        right: 20px;
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 99999;
    }
    
    .barra{
        background:white;
       
        width: 100%;
        height: 12%;
        transform: rotateZ(0deg);
    }
    
    .barra:after,
    .barra:before,
    .barra{
         border-radius: 10px;
        transition: .3s;
        position: absolute;
        width: 100%;
        content: '';
        background:white;
    }
    
    .barra:after{
        transition: .3s;
        transform: rotateZ(0deg);
        top: 18px;
        height: 100%;
    }
    
    .barra:before{
        transition: .3s ease-out;
        transform: rotateZ(0deg);
        top: -18px;
        height: 100%;
    }
    
    label > div{
        transition: .3s ease-out;
    }
    
    #btn:checked ~ label > .barra {
        transition: .3s ease-out;
        transform: rotateZ(45deg);
         
    }
    
    
    #btn:checked ~ label > .barra::after {
        transition: .3s ease-out;
        transform: rotateZ(90deg);
        top: 0;
    }
    
     #btn:checked ~ label > .barra::before {
        transition: .3s ease-out;
        transform: rotateZ(90deg);
        top: 0;
        
    }
    
    #btn:checked ~ #nav {
        transform: translateX(0%);
        transition: .5s ease;
    }
    



/*----------------MENU-------------------*/

.menu {
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 9999;
	font-family:'Myriad Pro', sans-serif;
	transition: all .2s;
    background:#767676 !important;
	
}
nav {
  margin: 0 auto;
	height: 100%;
	width: 90%;
  max-width: 1000px;
    
}
ul{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	
}
nav ul li {
	display: inline-block;
}

nav ul a{
	font-family: 'Myriad Pro';
	text-decoration: none;
	color: white;
	padding:13px 20px;
	transition: .3s;
	font-size: 17px;
    border: 2px solid #767676;
	
}
nav ul a:hover{
	border: 2px solid white;
 

}

nav ul a:nth-child(2) {
    border: 2px solid white;
	background: white;
    color: #767676;

}

nav ul a:nth-child(3) {
	  border: none;
	background: none;
	
}



/*----------------FIN MENU-------------------*/

/*----------------MENU RESPONSIVE-------------------*/

/*---------------- FIN MENU RESPONSIVE-------------------*/

/*----------------SECCION UNO-----------------*/

#seccion_uno {
   background:url(../img/proyectoseccionuno.jpg);
    background-size: cover;
       height: auto;

}

#seccion_uno h1 {
    
    padding-top: 150px;
    font-size: 50px;
    color: white;
      font-family: 'Myriad Pro', sans-serif;
    font-weight: 100;

    text-align: center;
    
    
    
}
#seccion_uno p {
    padding: 40px 20px 80px 20px;
    max-width: 700px;
    height: auto;
    text-align: center;
    color: white;
    font-family: 'Myriad Pro', sans-serif;
    margin: 0 auto;
    
}

/*----------------FIN SECCION UNO--------------*/

/*----------------SECCION DOS--------------*/

#seccion_dos{
    display: flex;
    justify-content: center;
    align-items: center;
}
#seccion_dos video {
    margin-top:30px; 
    max-width: 900px;
    width: 100%;
    max-height: 100%;
    height:auto;
}

/*---------------- FIN SECCION DOS--------------*/

/*----------------SECCION TRES--------------*/
#seccion_tres {
    padding: 50px 0 ;
    width: 100%;
    
   
}
.cajas {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items:center; 
    max-width: 1100px;
    width: 100%;

   
}

.contcaj {
       font-family: 'Myriad Pro', sans-serif;
    box-sizing:border-box;
    margin: 20px;
    max-width: 300px;
    width: 80%;
    border: 2px solid #42A502;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contcaj h1 {
    padding: 20px 0px;
    color: #42A502;
    font-weight: 100;
    font-size: 45px;
}

.contcaj img {
    margin: 5px;
}

.contcaj  p {
    padding: 20px;
    text-align: center;
    color: #42A502;
    
}

/*----------------FIN SECCION TRES--------------*/

/*----------------SECCION CUATRO--------------*/




/*----------------FIN SECCION CUATRO--------------*/

/*----------------FOOTER--------------*/

footer {
  width: 100%;
  background:#767676;
}
.contfoot {
  margin: 0 auto;
  width:95%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contf {
  height: 100%;
  width: 40%;
}

.contfuno {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.contfuno img {
  margin-left: -35px;
  max-width: 300px;
  height: auto;
  margin-top: 35px;
 
}

.contfuno ul {
  
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 30px 0;
}

.contfuno ul li {
  position: relative;
  list-style-image: url(../img/list_style.png);
  text-align: center;
} 

.contfuno a {
  display: flex;
  padding: 10px 20px;
  text-decoration: none;
  color:white;
  font-family: 'Myriad Pro', sans-serif;
  
}






.contfdos {
  height: 100%;
}



.contfdos ul {
  margin-top: 120px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 30px;
  

}

.contfdos ul li {
  justify-content: center;
  align-items: center;
  display: flex;
  list-style:none;
  text-align: center;
} 
.contfdos ul li img {
  width: 30px;
  padding: 5px;

}

.contfdos a {
  display: flex;
  padding: 0px 20px;
  text-decoration: none;
  color:white;
  font-family: 'Myriad Pro', sans-serif;
  
}

.contftres {

  display: flex;
  justify-content: center;
  align-items:center; 
}


.contfootdos {
  border-top: 2px solid white;
  margin: 0 auto;
  width: 95%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}

.contfootdos p {
  padding: 30px;
  color: white;
    font-family: 'Myriad Pro', sans-serif;
  
  
}













