* {
  padding:0;
  margin:0;
  font-family: 'Myriad Pro', sans-serif;
}
body {
}

/*----------------MENU RESPONSIVE-------------------*/

    .menu_responsive{
        z-index: 9998;
        position: fixed;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        background:#00789B;
        transition: all .2s;
}
    
    .menu_responsive .logo{
    margin-left: 20px;
    height: 55px;
    
}
#nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav ul li {
    list-style: none;

}
#nav img {
        padding: 20px;
}

#nav ul a {
    text-decoration: none;
    color: white;
    padding: 20px;
        width: 50%;
    transition: .3s;
    border-bottom: 2px solid white;
}

#nav ul a:hover {
    background: white;
    color: #00789B;
}

#nav ul a:nth-child(2){
    border-top: 2px solid white;
}



  
@keyframes hoversocial {
     0%   {
        transform: rotate(0deg);
    }
    25%  {
        transform: rotate(10deg);
    }
    
    50%  {
        transform: rotate(-10deg);
    }
    
    100% {
        transform: rotate(0deg);
    }

}


#nav ul .socialmenu{
    border:none !important;
    padding: 0px 0px;
    margin: 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#nav ul .socialmenu:hover {
    border: none !important;
    background: none;
    animation-name: hoversocial;
    animation-duration: 0.5s;
    animation-timing-function:ease-in-out;
}

.socialmenu img {
    width: 40px;
    padding: 0px !important;
      
}

.sociali {
    display: flex;
    padding: 0px 0px;
    margin: 0px 0px;
}


    
    #nav{
        justify-content: center;
        display: none;
        height: 100%;
        width: 318px;
        background-color: #00789B;
        position: fixed;
        right: 0;
        z-index: 99988;
        transform: translateX(100%);
        transition: .5s all;
    }

    
    #btn{
     display: none;
    }
    
    .boton{
        cursor: pointer;
        width: 50px;
        height: 47px;
        top: 11px;
        right: 20px;
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 99999;
    }
    
    .barra{
        background:white;
       
        width: 100%;
        height: 12%;
        transform: rotateZ(0deg);
    }
    
    .barra:after,
    .barra:before,
    .barra{
         border-radius: 10px;
        transition: .3s;
        position: absolute;
        width: 100%;
        content: '';
        background:white;
    }
    
    .barra:after{
        transition: .3s;
        transform: rotateZ(0deg);
        top: 18px;
        height: 100%;
    }
    
    .barra:before{
        transition: .3s ease-out;
        transform: rotateZ(0deg);
        top: -18px;
        height: 100%;
    }
    
    label > div{
        transition: .3s ease-out;
    }
    
    #btn:checked ~ label > .barra {
        transition: .3s ease-out;
        transform: rotateZ(45deg);
         
    }
    
    
    #btn:checked ~ label > .barra::after {
        transition: .3s ease-out;
        transform: rotateZ(90deg);
        top: 0;
    }
    
     #btn:checked ~ label > .barra::before {
        transition: .3s ease-out;
        transform: rotateZ(90deg);
        top: 0;
        
    }
    
    #btn:checked ~ #nav {
        transform: translateX(0%);
        transition: .5s ease;
    }
    



/*----------------MENU-------------------*/

.menu {
  
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 9999;
	font-family:'Myriad Pro', sans-serif;
	transition: all .2s;
    background:#00789B;
	
}
nav {
  margin: 0 auto;
	height: 100%;
	width: 90%;
  max-width: 1000px;
}
ul{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	
}
nav ul li {
	display: inline-block;
}

nav ul a{
	font-family: 'Myriad Pro';
	text-decoration: none;
	color: white;
	padding:13px 20px;
	transition: .3s;
	font-size: 17px;
    border: 2px solid #00789B;
	
}
nav ul a:hover{
	border: 2px solid white;

}


nav ul a:nth-child(3) {
	  border: none;
	background: none;
	
}


nav ul a:nth-child(4) {
    border: 2px solid white;
	background: white;
    color: #00789B;

}


/*----------------FIN MENU-------------------*/

/*----------------MENU RESPONSIVE-------------------*/

/*---------------- FIN MENU RESPONSIVE-------------------*/


/*----------------SECCION DOS-----------------*/

#seccion_dos {
    margin: 0 auto;
    padding-top: 100px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#seccion_dos p, h1 {
    text-align: center;
    box-sizing: content-box;
}
#seccion_dos h1 {
    font-size: 50px;
    margin: 35px 0 30px 0; 
    font-weight: 100;
    padding: 25px;
    color:#EF8B26;
    border: 3px solid #EF8B26;
}

#seccion_dos p {
    max-width: 600px;
    width: 90%;
    margin: 10px 0 30px 0;
    font-size: 18px;
    padding: 20px 0 20px 0;
    color: #00789B;
}
/*----------------FIN SECCION DOS--------------*/

/*----------------SECCION TRES-----------------*/
#galeria {
    
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 70px auto;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gal_cont {
    position: relative;
    transition:all .3s ease-in-out;
    z-index: 20;
  
}
.gal_cont::after {
    z-index: 21;
    transition:all .3s;
    content: '';
    top:0;
    left: 100%;
    right: 0;
    bottom:0;
    background: rgba(0, 120, 155,.8);
    position: absolute;
	border-bottom-right-radius: 500px;
	border-top-right-radius: 500px;
}

.gal_cont::before {
    z-index: 22;
    transition:all .3s;
    content: '';
    top:0;
    left: 0;
    right: 100%;
    bottom:0;
    background: rgba(0, 120, 155,.8);
    position: absolute;
	border-bottom-left-radius: 500px;
	border-top-left-radius: 500px;
}


#galeria a:hover .gal_cont::before{
   
  top:0;
    left:0;
    right: 50%;
    bottom:0;
}
#galeria a:hover .gal_cont::after{
   
  top:0;
    left: 50%;
    right: 0;
    bottom:0;
}

#galeria a:not(:hover) .gal_cont::after{
   transition-delay: .1s;
}
#galeria a:not(:hover) .gal_cont::before{
   transition-delay: .1s;
}


#galeria div img {
    box-sizing: content-box;
    margin: 10px;
    object-fit: cover;
    max-width: 230px;
    max-height: 230px;
    position: relative;
}

.gal_cont h1 {
    font-size: 20px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    z-index: 22;
    color: white;
    opacity: 0;
    transition: .1s;
    transition-delay: .1s;
}


#galeria a:hover .gal_cont h1 {
    top:45%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    opacity: 1;
}


/*----------------FIN SECCION TRES--------------*/

/*----------------MODAL--------------*/
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
	padding: 10px 0px 50px 0px;
    background: rgba(0, 44, 57, .95);
    z-index: 9999;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
	
}


.cont_modal {
	
	padding: 10px 0px ;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around; 
	
    
}

.imgmodal {
    width: 40%;
}
.imgmodal img {
    width: 100%;
}

.textomodal {
    width: 50%;
    color: white;
}

.textomodal p {
    padding: 15px 0;
}

.modalcerrar {
        margin: 20px 0;
}
.modalcerrar a {
	
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    transition: all .2s;
    font-size: 18px;
}

.modalcerrar a:hover {
    background: white;
    color: rgba(0, 120, 155,1);
    
}

/*----------------FIN MODAL--------------*/





/*----------------FOOTER--------------*/

footer {
  width: 100%;
  background:#00789B;
}
.contfoot {
  margin: 0 auto;
  width:95%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contf {
  height: 100%;
  width: 40%;
}

.contfuno {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.contfuno img {
  margin-left: -35px;
  max-width: 300px;
  height: auto;
  margin-top: 35px;
 
}

.contfuno ul {
  
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 30px 0;
}

.contfuno ul li {
  position: relative;
  list-style-image: url(../img/list_style.png);
  text-align: center;
} 

.contfuno a {
  display: flex;
  padding: 10px 20px;
  text-decoration: none;
  color:white;
  font-family: 'Myriad Pro', sans-serif;
  
}






.contfdos {
  height: 100%;
}



.contfdos ul {
  margin-top: 120px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 30px;
  

}

.contfdos ul li {
  justify-content: center;
  align-items: center;
  display: flex;
  list-style:none;
  text-align: center;
} 
.contfdos ul li img {
  width: 30px;
  padding: 5px;

}

.contfdos a {
  display: flex;
  padding: 0px 20px;
  text-decoration: none;
  color:white;
  font-family: 'Myriad Pro', sans-serif;
  
}

.contftres {

  display: flex;
  justify-content: center;
  align-items:center; 
}


.contfootdos {
  border-top: 2px solid white;
  margin: 0 auto;
  width: 95%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}

.contfootdos p {
  padding: 30px;
  color: white;
    font-family: 'Myriad Pro', sans-serif;
  
  
}













